## Part I : Unzip tripdata data(Jan-2022 to Dec 2022) and concat them into one csv file

In [53]:
# Independencies
import pandas as pd
import zipfile
import glob
import os

In [54]:
filelist = os.listdir("./Resources/")
filelist

['City_Officals_Long_lat.csv',
 'Extract',
 'JC-202201-citibike-tripdata.csv.zip',
 'JC-202202-citibike-tripdata.csv.zip',
 'JC-202203-citibike-tripdata.csv.zip',
 'JC-202204-citibike-tripdata.csv.zip',
 'JC-202205-citibike-tripdata.csv.zip',
 'JC-202206-citibike-tripdata.csv.zip',
 'JC-202207-citbike-tripdata.csv.zip',
 'JC-202208-citibike-tripdata.csv.zip',
 'JC-202209-citibike-tripdata.csv.zip',
 'JC-202210-citibike-tripdata.csv.zip',
 'JC-202211-citibike-tripdata.csv.zip',
 'JC-202212-citibike-tripdata.csv.zip',
 'tripdata_2022 - Copy.csv',
 'tripdata_2022.csv',
 '__MACOSX']

In [55]:
# Unzip all the files 
for filename in filelist:
    if "zip" in filename:
        path = "./Resources/"+ filename
        print(path)
        with zipfile.ZipFile(path, 'r') as myzip:
            myzip.extractall("./Resources/Extract")

./Resources/JC-202201-citibike-tripdata.csv.zip
./Resources/JC-202202-citibike-tripdata.csv.zip
./Resources/JC-202203-citibike-tripdata.csv.zip
./Resources/JC-202204-citibike-tripdata.csv.zip
./Resources/JC-202205-citibike-tripdata.csv.zip
./Resources/JC-202206-citibike-tripdata.csv.zip
./Resources/JC-202207-citbike-tripdata.csv.zip
./Resources/JC-202208-citibike-tripdata.csv.zip
./Resources/JC-202209-citibike-tripdata.csv.zip
./Resources/JC-202210-citibike-tripdata.csv.zip
./Resources/JC-202211-citibike-tripdata.csv.zip
./Resources/JC-202212-citibike-tripdata.csv.zip

In [56]:
tripdata_2022 = pd.DataFrame()

In [57]:
# Concat the twelve files into one csv file 
tripdata_2022 = pd.concat([pd.read_csv(file, header=0) for file in glob.glob('./Resources/Extract/*.csv')], ignore_index = True)

In [58]:
tripdata_2022.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member

In [59]:
tripdata_2022.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
895480,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member
895481,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual
895482,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member
895483,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member
895484,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member

In [60]:
tripdata_2022.to_csv("./Resources/tripdata_2022.csv",index=False)

## Part II : Store the data about start stations and end stations in a seperate files

In [61]:
# Create a dataframe to store start station infomation
Loglat_df= tripdata_2022[['start_station_id',"start_station_name",'started_at','start_lat',"start_lng"]]
Loglat_df=Loglat_df.rename(columns={'start station id':"station id",'starttime':"time","start station name":"Station Name",'start station latitude':"Station Lat","start station longitude":"Station lon"})
Loglat_df.head()

,start_station_id,start_station_name,started_at,start_lat,start_lng
0,HB201,12 St & Sinatra Dr N,2022-01-26 18:50:39,40.750604,-74.024020
1,JC038,Essex Light Rail,2022-01-28 13:14:07,40.712774,-74.036486
2,JC038,Essex Light Rail,2022-01-10 19:55:13,40.712774,-74.036486
3,HB201,12 St & Sinatra Dr N,2022-01-26 07:54:57,40.750604,-74.024020
4,HB201,12 St & Sinatra Dr N,2022-01-13 18:44:46,40.750604,-74.024020

In [62]:
len(Loglat_df)

895485

In [63]:
# Contitue to store end station infomation
Loglat_df2= tripdata_2022[['end_station_id',"end_station_name",'ended_at','end_lat',"end_lng"]]
Loglat_df2=Loglat_df2.rename(columns={'end station id':"station id",'stoptime':"time","end station name":"Station Name",'end station latitude':"Station Lat","end station longitude":"Station lon"})
Loglat_df2.head()

,end_station_id,end_station_name,ended_at,end_lat,end_lng
0,HB201,12 St & Sinatra Dr N,2022-01-26 18:51:53,40.750604,-74.024020
1,JC038,Essex Light Rail,2022-01-28 13:20:23,40.712774,-74.036486
2,JC038,Essex Light Rail,2022-01-10 20:00:37,40.712774,-74.036486
3,HB201,12 St & Sinatra Dr N,2022-01-26 07:55:22,40.750604,-74.024020
4,HB201,12 St & Sinatra Dr N,2022-01-13 18:45:43,40.750604,-74.024020

In [64]:
Loglat_df2.shape

(895485, 5)

In [65]:
Loglat_df = Loglat_df.append(Loglat_df2,ignore_index=True)

C:\Users\phuon\AppData\Local\Temp\ipykernel_18396\3646428955.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Loglat_df = Loglat_df.append(Loglat_df2,ignore_index=True)

In [66]:
Loglat_df.shape

(1790970, 10)

In [67]:
Loglat_df.to_csv("./Resources/City_Officals_Long_lat.csv",index=False)